.AuthPage {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
    font-family: 'Montserrat', sans-serif;
    padding-right: 5px;
  }

  .AuthPage aside {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 3vmin 10vmin;
  }

  .fakelink {
      color: #0000FF;
      text-decoration: underline;
  }