.navbuttons {
    color: snow;
    font-weight: 700;
    text-decoration: none;
    margin: auto;
}
.navwelcome {
    color: snow;
    font-weight: 300;
    text-decoration: none;
    margin: auto;
}
.navbar{
    background-color: #4A3A71;
    color: snow;
}